header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 1px 3px grey;
    background-color: $color-primary;
    .box{
      height: 70px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .menu{
      &.categories{
        font-weight: bold;
      }
      a{
        padding: 5px;
        text-decoration: none;
        color: $color-link;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .logo{
      img{
        width: 130px;
      }
    }
  }
