.container{
  max-width: $container-w;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.f-size-small{
  font-size: .8rem;
}

.mb-5{
    margin-bottom: 3rem;
}

.page-active{
    background-color: rgba(orange, .8);
    border-radius: 5px;
    text-decoration: underline !important;
}

ul{
  list-style: none;
}

header .box, footer .box{
  padding: 0 10px;
}
